#s18{
	background: ;
	width: 250px;
	height: 45px;
	margin-left: 715px;
	margin-top: 10px;
	position: absolute;	
}

#s19{
	background: ;
	width: 145px;
	height: 90px;
	margin-left: 715px;
	margin-top: 55px;
	position: absolute;	
}

#s20{
	background: ;
	width: 145px;
	height: 90px;
	margin-left: 715px;
	margin-top: 155px;
	position: absolute;	
}

#s21{
	background: ;
	width: 145px;
	height: 90px;
	margin-left: 715px;
	margin-top: 255px;
	position: absolute;	
}

#s22{
	background: ;
	width: 137px;
	height: 90px;
	margin-left: 862px;
	margin-top: 55px;
	position: absolute;	
}


#s23{
	background: ;
	width: 137px;
	height: 90px;
	margin-left: 862px;
	margin-top: 155px;
	position: absolute;	
}

#s24{
	background: ;
	width: 137px;
	height: 90px;
	margin-left: 862px;
	margin-top: 255px;
	position: absolute;	
}













